body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.hidden {
    display: none;
}

.welcome-screen, .register-form, .after-register, .gato-malo-levels, .abc-level {
    text-align: center;
    padding: 20px;
    border: 2px solid #4f46e5;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.welcome-text {
    font-size: 2.5em;
    color: #4f46e5;
    animation: fadeIn 10s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.button-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
}

.primary-btn {
    background-color: #4f46e5; /* Color morado */
}

.primary-btn:hover {
    background-color: #3b36d1;
}

.gato-malo-btn {
    background-color: #6c757d; /* Color gris claro */
}

.gato-medio-btn {
    background-color: #ffc107; /* Color amarillo medio */
}

.gato-buenardo-btn {
    background-color: #28a745; /* Color verde brillante */
}

.gato-malo-btn:hover {
    background-color: #5a6268;
}

.gato-medio-btn:hover {
    background-color: #e0a800;
}

.gato-buenardo-btn:hover {
    background-color: #218838;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 15px;
    font-size: 1em;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    font-size: 1em;
}

.letter-container {
    margin-top: 20px;
}

.letter {
    font-size: 5em;
    color: #4f46e5;
}

.sign-image {
    width: 200px;
    height: auto;
    margin-top: 20px;
}
